<div class="container ">
    <div class="row row-style">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-2 div-style">
            <a class="a-tag-style">Home</a>
        </div>
        <div class="col-sm-2 div-style">
            <a class="a-tag-style">Services</a>
        </div>
        <div class="col-sm-2 div-style">
            <a class="a-tag-style">About us</a>
        </div>
        <div class=" col-sm-2 div-style">
            <button class="btn btn-outline-info btn-style"> Sign up</button>
        </div>
    </div>
</div>